My Sleep Session list
%br/
- @sleep_sessions.each do |sleep_session|
	%br/
	= sleep_session[:start_time]
	= sleep_session[:end_time]
	= "#{ sleep_session[:total_duration_in_minutes] } minutes"
	%br/

%br/
My Follow list Sleep Session
%br/

- @followed_sleep_sessions.each do |followed_sleep_session|

	%br/
	= followed_sleep_session[:id]
	= followed_sleep_session[:start_time]
	= followed_sleep_session[:end_time]
	= "#{ followed_sleep_session[:total_duration_in_minutes] } minutes"
	%br/
